<ion-header no-border class="ion-no-border">
    <ion-toolbar>
        <ion-title>Actualizar Estado del Pedido</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Km</ion-label>
        <ion-badge slot="end">22</ion-badge>
    </ion-item>
    <!-- <ion-list>
        <ion-list-header>
            <ion-label>
                Seleccion un estado
            </ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>Estado</ion-label>
            <ion-select value="Ninguno" okText="Ok" cancelText="Cancelar" mode="ios">
                <ion-select-option *ngFor="let item of status" value="{{item.id}}">{{item.status}}</ion-select-option>
            </ion-select>
        </ion-item> -->

<!-- }    </ion-list> -->

</ion-content>